// Define breakpoints
$xs: 376px;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

// Define colors main theme green
$color-primary: #00d1b2;
$color-primary-light: #a7ffeb;
$color-primary-dark: #00796b;

$color-primary-contrast: #F5F5F5;

// Define colors secondary theme orange
$color-secondary: #ff9800;
$color-secondary-light: #ffcc80;
$color-secondary-dark: #f57c00;
