@import "variables.scss";

.blog {
  font-size: 1.2rem;
  @media screen and (max-width: $sm) {
    font-size: 1rem;
  }
  h1 {
    background-color: $color-secondary-dark;
    color: white;
    padding: 0.5rem 0;
    border-radius: 20px;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: 700;
    @media screen and (max-width: 768px) {
      font-size: 1.1rem;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
  p {
    // Increase line height
    line-height: 1.8;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin: 1rem 0;
      padding: 1rem;
      align-items: center;
      @media screen and (max-width: 768px) {
        padding: 0.5rem;
      }
      a {
        color: $color-primary-dark;
        text-decoration: none;
        font-weight: 700;
        &:hover {
          color: $color-primary;
        }
      }
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    th,
    td {
      border: 1px solid $color-secondary-light;
      padding: 0.5rem;
      text-align: left;
    }
    // Remove all borders
    td,
    th {
      border: none;
    }
    // Set column width to be equal
    th {
      width: 20%;
      border-bottom: 2px solid $color-secondary-dark;
    }
    // Add zebra striping
    tr:nth-child(even) {
      background-color: $color-secondary-light;
    }
  }
}

.contact {
  margin-bottom: 1rem;
  border: 1px solid $color-secondary-dark;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  h1 {
    // background-color: $color-primary-dark;
    // color: white;
    // border-radius: 20px;
    margin-bottom: 1.5rem;
    font-weight: 700;
    @media screen and (max-width: 768px) {
      font-size: 1.1rem;
    }
  }
  h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    @media screen and (max-width: 768px) {
      font-size: 1.3rem;
    }
    color: red;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    li {
      margin: 1rem 0;
      padding: 1rem;
      align-items: center;
      @media screen and (max-width: 768px) {
        padding: 0.5rem;
      }
      & strong {
        text-transform: uppercase;
       background-image: linear-gradient(
         -225deg,
         red 0%,
         rgb(154, 154, 2) 50%,
         green 100%,
       );
       background-size: auto auto;
       background-clip: border-box;
       background-size: 200% auto;
       color: #fff;
       background-clip: text;
      //  text-fill-color: transparent;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       animation: textclip 2s linear infinite;
       display: inline-block;
     }
     
     @keyframes textclip {
       to {
         background-position: 200% center;
       }
     }
    }
  }
}
