@import "./variables.scss";
.breadcrumb {
    padding: 10px 0;
    list-style: none;
    // background-color: #f8f9fa;
    border-radius: 4px;
  
    .breadcrumbItem {
      display: inline-block;
      
      padding: 0.5rem;
      border-radius: 5px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      &:not(:last-child) {
        // content: ">";
        color:white;
        background-color: $color-primary-dark;
        margin-right: 0.5rem;
      }
      &:last-child {
        color: $color-primary-dark;
        font-weight: bold;
        border: 1px solid $color-primary-dark;
      }
      a {
        text-decoration: none;
      }
    }
  }